* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    
    background-image: linear-gradient(rgba(19, 212, 141, 0.32), rgba(42, 165, 231, 0.41)), url(image/background.jpg);/*set blue ;ayer*/
    background-position: center;  /*set bakground-position to center*/
    background-size: cover;  /*set the backgorund cover the page*/
    position: relative; /*set position relatibe*/
    flex-grow: 1;
    height: 100vh; /*set background height*/
}

section {
    display: flex; 
    flex-flow: row wrap; /*set teh flex box to auto change the wrap */
}

section img { /*set image size*/
    width: 200px;
    height: 200px;
    float: left; /*set position*/
    margin: 10px;
}

#top {
    order: 1;
    background-color: rgb(172, 255, 255);
    border: 1px solid blue;
    margin: 10px;
    padding: 10px;
    width: auto;
}

#top h2 {
    color: blue;
}

#top h3 {
    color: royalblue;
}

table { /*set table size*/
    order: 2;
    border: 2px solid blue;
    background-color: aliceblue;
    text-align: center;
    display: inline-block; 
    font-size: 20px;
    margin-top: 5px;
}

#main {
    order: 3;
    background-color: rgb(172, 255, 255);
    border: 1px solid blue;
    width: auto;
    margin: 10px;
    -webkit-column-count: 2;
}


th[scope="col"] { /*set column color*/
    background-color: #696969;
    color: #fff;
}

th[scope="row"] {/*set row color*/
    background-color: #d7d9f2;
}

td,
th { /*set boder color*/
    border: 1px solid rgb(190, 190, 190);
    padding: 10px;
}

@media screen and (max-width: 800px) {  /*set response*/ 

    table,
    th,
    tr {
        background-color: rgb(252, 212, 212);
        order: 1;
        width: 100%;
        margin: 10px;
    }

    #main {
        background-color: aquamarine;
    }

    #top {
        width: auto;
    }

    #top h2 {
        color: red;
    }

    #top h3 {
        color: lightcoral;
    }
}