*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.bg-img{
    background-image: linear-gradient(rgba(19, 212, 141, 0.32), rgba(42, 165, 231, 0.41)), url(image/background.jpg);
    background-size: cover;
    height: 90vh;
    filter: blur(2px);
    display: flex;
}
.vistLink {
    display: flex;
    width:90%;
    color: rgb(248, 13, 13);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.homeVideo {
    display: flex;
    position: absolute;
    width: 50vh;
    aspect-ratio: 16/9;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.text-box{
    width:90%;
    color: rgb(248, 13, 13);
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
    text-shadow: white 2px 5px;
}

.Adopt{
    display: inline-block;
    border: 4px solid rgb(236, 7, 7);
    padding: 12px 34px;
    font-size: 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 90%;
    left: 50%;
}

.Adopt a{
    text-decoration: none;
    color: black;
}

.Adopt:hover{
    border: 1px solid rgb(131, 5, 137) ;
    background:rgb(131, 5, 137) ;
    transition: 0.5s;
    transform: skew(15deg);
    left: 45%;
    top: 90%;
}

.Adopt a:hover{
    color: blue;
    text-shadow: white 2px 3px;
}

@media screen and (max-width:800px){
    .text-box h1{
        font-size: 30px;
    }
    .Adopt{
        font-size: 20px;
    }
}

