*{
    margin: 0;
    padding: 0;
}

.logo img{
    width: 100px; /*set image size*/
}
.logo{
    gap: 2rem;
}
header{
    display: flex; /*set display flex*/
    background-color: rgba(205,238,255,255);
    justify-content: space-between; /* set flex have space in the middle*/
}
nav {
    display: flex;
}
nav ul{
    display: flex;
    align-items: center; /*set text into center*/
    gap: 1rem; /*set flex box gap*/
    font-size: 25px; 
    list-style: none; /*set no list style*/
}
nav ul li a{
    list-style: none;
    text-decoration: none;/*set no line in the bottom*/
    color: #199fe5;
}
.logoName{ 
    color: blue;
    font-size: 30px;
    display: inline-block;
    left: 100px;
    top: 50px;
    position:absolute;
    z-index: 2; /*set the layer will not be cover*/
    gap: 2rem;
}

nav ul li a:hover{
    border: solid #199fe5;
    border-radius: 10px;
    display:block;
    transition:0.5s;
}

nav ul li:hover>ul{ /*set when hover the ul li then select the all children */
    display: block;
    position: absolute;
    z-index: 1;
    width: 70px;
}

.dropdown{
    background-color: #041360;
    border-radius: 10px;
    display: none;
}


@media screen and (max-width: 800px){ /*set response */
    nav ul {
        flex-direction: column;
    }
}