*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.header{
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient(rgba(19, 199, 212, 0.32),rgba(42, 165, 231, 0.41)),url(image/background.jpg);
  background-position: center;
  background-size: cover;
  position: relative;
}

nav{
    display: flex;
    padding: auto;
    justify-content: space-between;
    align-items: center; 
    background-color: rgba(205,238,255,255);
}

nav img{
    width: 150px;
}

.nav-links{
    flex: 1;
    text-align: right;
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding:8px 12px;
    position: relative;
}

.nav-links ul li a{
    color:rgb(33, 18, 246);
    text-decoration:none;
    font-size: 20px;
}

.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: rgb(237, 5, 5);
    display: block;
    margin: auto;
    transition: 0.5s;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.text-box{
    width:90%;
    color: rgb(248, 13, 13);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}

.text-box h1{
    font-size: 62px;
}

.Adopt{
    display: inline-block;
    text-decoration: none;
    color: rgb(238, 9, 9);
    border: 1px solid rgb(236, 7, 7);
    padding: 12px 34px;
    font-size: 20px;
    background: transparent;
    position: relative;
}

.Adopt:hover{
    border: 1px solid rgb(131, 5, 137) ;
    background:rgb(131, 5, 137) ;
    transition: 1s;
}

@media (max-width: 700px) {
    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;
    }
    .nav-links{
        position: absolute;
        background: linear-gradient(rgba(19, 199, 212, 0.9),rgba(42, 165, 231, 0.9));
        height: 100vh;
        width: 150px;
        top:0;
        right: 0;
        text-align: left;
        z-index: 2;
    }

}